<shared-header>
  <h2>harry potter</h2>
  <shared-button [text]="headerBtn"></shared-button>
</shared-header>
<main class="wrapper">
  <app-search (handleSearchValue)="searchCourse($event)"></app-search>
  <app-course-list
    [isEditable]="isEditable"
    [courses]="courses"
    (handleShowCourse)="showCourse($event)"
    (handleEditCourse)="editCourse($event)"
    (handleDeleteCourse)="deleteCourse($event)"
  ></app-course-list>
  <shared-info
    infoTitle="Your List is Empty"
    infoText="Please use 'Add New Course' button to add your first course"
  >
    <shared-button text="Add new course"> </shared-button
  ></shared-info>
</main>
